 .header{
     font-family: Georgia, 'Times New Roman', Times, serif; 
    font-size: large ;  
    text-align: center; 
} 

.timer{ font-size: medium; 
    text-align: center;
    

} 
#option1,#option2,#option3{ font-size: medium;   
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: inline-block;
    margin-right: 15px;
    
}  

#game{border: solid; 
    background-color: rgb(143, 188, 180);
 text-align: center; 
 margin-left: 150px; 
 margin-right: 150px;

} 

body{
    background-image:url("../images/art-deco-3.jpg") ;  
    
} 
#submit {border: deeppink 1px solid; 
    padding: 10px; 
    background-color: deeppink; 
    width: 200px; 
    color: white; 
    margin: 15px 15px 15px 40%; 

}

#submit:hover{
    cursor: pointer;
}







