 .header{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: large ;  
    text-align: center; 
} 

.timer{ font-size: medium; 
    text-align: center;
    

} 
.text1{ font-size: medium;   
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: inline-block;
    

} 
#buttom{ font-size: smaller;
font-family: Georgia, 'Times New Roman', Times, serif; 
display: inline-block; 

}  

#game{border: solid; 
    background-color: rgb(143, 188, 180);
 text-align: center; 
 margin-left: 150px; 
 margin-right: 150px;

} 

body{
    background-image:url("../images/art-deco-3.jpg") ;  
    
    
}







